<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{category}}</h5>
        <p class="card-text">{{description}}</p>
        <p class="card-text">{{deadline}}</p>
        <p class="card-text">{{priority}}</p>
        <p class="card-text">{{completed}}</p>
    </div>
</div>